body {
    padding-top: 80px;
}

/* header */
.navbar {
    min-height: 0px !important;
    font-size: 0.9em;
    border-bottom: 1px solid #dfe6d9;

}

.navbar-brand {
    height: auto;
    padding: 15px 0 0 0;
}

.navbar-toggle {
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav>li>a{
    display: inline-block;
    margin: 0 !important;
    padding: 15px !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

/* 登録画面 */
#registration ul li{
    list-style: none;
}

#registration label{
    margin-right: 10px;
    width: 100px;
    float: left;
}